<div id="app">
    <div class="statusbar"></div>
    <div class="panel panel-left panel-left-1 panel-cover panel-resizable panel-init color-theme-green" 
    [ngClass]="panel ? 'theme-dark' : ''">
        <div class="block block-strong">
            <p>Left Panel content here</p>
            <p><a class="panel-close" href="#">Close me</a></p>
            <p><a href="home">Home</a></p>
            <p><a href="about">About</a></p>
        </div>
    </div>



    <div class="view view-main">
        <div data-name="home" class="page color-theme-green">
            <div class="navbar">
                <div class="navbar-bg"></div>
                <div class="navbar-inner sliding">
                    <div class="left">
                        <a class="link back">
                            <span class="material-icons-outlined">west</span>
                            <span class="if-not-md">Back</span>
                        </a>
                    </div>
                    <div class="title">Gel Store</div>
                    <div class="right">
                        <a class="link popup-open" href="#" data-popup=".settings">
                            <span class="material-icons-outlined">settings</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="toolbar tabbar-labels toolbar-bottom">
                <div class="toolbar-inner">
                    <a href="#tab-1" class="tab-link tab-link-active">
                        <span class="material-icons-outlined">class</span>
                        <span class="tabbar-label">Goods</span>
                    </a>
                    <a href="#tab-1" class="tab-link">
                        <span class="material-icons-outlined">favorite</span>
                        <span class="tabbar-label">Favorite</span>
                    </a>
                    <a href="#tab-2" class="tab-link">
                        <span class="material-icons-outlined">shopping_cart</span>
                        <span class="tabbar-label">Cart</span>
                    </a>
                    <a href="#tab-3" class="tab-link">
                        <span class="material-icons-round">add_card</span>
                        <span class="tabbar-label">Add card</span>
                    </a>
                </div>
            </div>

            <div class="page-content">
                <div class="block">
                    <p>Page content goes here</p>
                    <p><small>{{datetime}}</small></p>
                    <a class="button popup-open" href="#" data-popup=".popup-swipe-to-close">Open About Popup</a>
                    <p><a class="button button-fill panel-open" href="#" data-panel=".panel-left-1">Left Panel</a></p>
                    <p>
                        <a class="button button-fill" href="#" (click)="onChangeTheme()">
                            <span class="material-icons-outlined">
                                brightness_6
                            </span>
                            &#160;<span>Change Theme</span> 
                        </a>
                    </p>
                </div>

                <div class="list media-list">
                    <ul>
                        <f7-card *ngFor="let itemCard of cards" [card]="itemCard"></f7-card>
                    </ul>
                </div>


<!-- <router-outlet></router-outlet> -->
            </div>

            <div class="popup settings color-theme-green">
                <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                        <div class="left">
                            <a href="#" class="link popup-close">
                                <i class="icon icon-back"></i>
                            </a>
                        </div>
                        <div class="title">Settings</div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="block">
                        <p>Settings</p>
                    </div>
                </div>
            </div>

            <div class="popup popup-swipe-to-close">
                <div class="block color-theme-green">
                    <p>About</p>
                    <p><a class="link popup-close" href="#">Close popup</a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc.
                        Quisque sodales scelerisque est, at porta justo cursus ac. Integer vitae quam a ante lobortis lobortis. Nam
                        vehicula sagittis quam, sit amet congue purus consequat sed. Maecenas eget mattis lectus. Aliquam luctus
                        luctus leo ac fringilla. Sed nec eros vel purus tincidunt tincidunt in in orci. Sed tellus neque,
                        pellentesque
                        nec metus id, congue elementum odio. Donec turpis tellus, mollis ac leo eget, accumsan fermentum lorem.
                        Aliquam et elementum neque. Vestibulum sed egestas ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>